# Ignore user config
config.yaml
# pre-commit
.pre-commit-config.yaml

task-herald

# Ignore devenv state but keep direnv working
.devenv/
.devenv.flake.nix
/.env
.env

# Nix build results
result
result-*
